<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.likermob"
        versionCode = "10"
        version     = "1.1.0">
 
    <name>admoby</name>
 
    <description>
       Save on things you like!
    </description>
 
    <author href="http://www.likermob.com" email="jadman02@hotmail.com">
        Jarrod Dean
    </author>

<gap:platform name="ios" />
<gap:plugin name="org.apache.cordova.inappbrowser"/>
<gap:plugin name="org.apache.cordova.core.camera" />
<gap:plugin name="org.apache.cordova.file" version="1.3.1" />
<gap:plugin name="org.apache.cordova.file-transfer" version="0.4.6" />
<gap:plugin name="cc.fovea.plugins.inapppurchase" version="3.4.0" />
<gap:plugin name="com.synconset.imageresizer" version="0.1.1" />
<gap:plugin name="nl.x-services.plugins.launchmyapp">
<param name="URL_SCHEME" value="likermob" />
</gap:plugin>
<preference name="orientation" value="portrait" />
<preference name="DisallowOverscroll" value="true" />
<feature name="InAppPurchase">
       <param name="ios-package" value="InAppPurchase" />
    </feature>
<feature name="Camera">
    <param name="ios-package" value="CDVCamera" />
</feature>
<gap:plugin name="com.admob.google" source="plugins.cordova.io" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    <feature name="http://api.phonegap.com/1.0/network"/>
    <feature name="http://api.phonegap.com/1.0/notification"/>
 <feature name="http://api.phonegap.com/1.0/file"/>
 <feature name="http://api.phonegap.com/1.0/camera"/>
 
<access origin="*" />

 <access origin="*" subdomains="true"/>
<access origin="http://smilesavers.net.au"/>
<access origin="*.akamaihd.net"/>
<access origin="*.fbcdn.net"/>
<access origin="graph.facebook.com"/>
<access origin="api.facebook.com"/>
<access origin="m.facebook.com"/>
<access origin="facebook.com"/>
<access origin="maps.googleapis.com"/>

 



 
</widget>
